#page-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 15px;
  background: linear-gradient(#fdfdfd, #dedede);
  border: solid 1px #b0b0b0;
  border-radius: 3px;
}
#page-indicator.hidden {
  opacity: 0;
}
.page-btn {
  cursor: pointer;
  text-decoration: underline;
}
.page-btn.disabled-btn {
  cursor: auto;
  color: #b0b0b0;
  text-decoration: none;
}
