#employees-table {
  width: 100%;
  margin-top: 10px;
}
#employees-table table {
  border-collapse: collapse;
}
#employees-table div.th {
  width: 100%;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
}
#employees-table th {
  padding: 8px 0;
}
#employees-table tbody {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}
#employees-table .header-column {
  margin: auto;
}
#employees-table .sort-icon {
  position: absolute;
  right: 0;
}
#employees-table td {
  padding: 8px 10px;
}
#no-data {
  text-align: center;
  line-height: 36px;
}
tbody tr td.sorted-column,
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tbody tr:nth-child(odd) td.sorted-column {
  background-color: #f1f1f1;
}
tbody tr {
  border-top: 1px solid #ddd;
}
tbody tr:first-child {
  border-top: none;
}
.header-column {
  text-align: left;
}
#first-name-column {
  width: 113px;
}
#last-name-column {
  width: 111px;
}
#start-date-column {
  width: 107px;
}
#department-column {
  width: 137px;
}
#date-of-birth-column {
  width: 126px;
}
#street-column {
  width: 208px;
}
#city-column {
  width: 138px;
}
#state-column {
  width: 71px;
}
#zip-code-column {
  width: 100px;
}
