body {
  box-sizing: border-box;
  margin: 10px 0;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}
button {
  display: block;
  margin: 1rem auto;
}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.address {
  margin-top: 10px;
}
#employees-page {
  min-width: 700px;
  padding-bottom: 50px;
}
#page-container {
  width: 1111px;
  margin: auto;
}
